  body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #121212;
      color: #f1f1f1;
      line-height: 1.6;
  }

  header {
      display: flex;
      text-align: center;
      height: 100vh;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;



  }

  .typing {
      border-right: 3px solid white;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      animation: blink 0.7s step-end infinite;
  }

  @keyframes blink {
      50% {
          border-color: transparent;
      }
  }


  header h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      color: #00bcd4;

  }

  header p {
      font-size: 1.2rem;
      color: #bbb;
  }

  section {
      margin: auto;
      padding: 40px 20px;
  }

  h2 {
      margin-bottom: 20px;
      color: #00bcd4;
  }



  .projects {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      max-width: 1500px;
  }

  .project {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 10px;
      height: 250px;
      width: 250px;
      border-radius: 15px;
      transition: 0.5s ease;
      background: #1e1e1e;
  }
    .project:hover {
      color: #00bcd4;
      border-radius: 5px;
      box-shadow: 0 0 15px #00bcd4,
          0 0 20px#00bcd4,
          0 0 25px #00bcd4;
      transform: scale(1.05);
  }
   #projects {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 80px;
  }
.butn{
 
    color: white;
  text-decoration: none;
  }


  .skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      max-width: 1500px;
  }

  #skills {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 80px;
  }

  .skill {
      background: #1e1e1e;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 30px;
      height: 250px;
      width: 250px;
      border-radius: 15px;
      transition: 0.5s ease;
  }

  .skill div {
      font-size: 25px;
  }

  .skill:hover {
      color: #00bcd4;
      border-radius: 5px;
      box-shadow: 0 0 15px #00bcd4,
          0 0 20px#00bcd4,
          0 0 25px #00bcd4;
      transform: scale(1.05);
  }

  .contact {
      background: #1e1e1e;
      border-radius: 8px;
      padding: 20px;
  }

  footer {
      text-align: center;
      padding: 20px;
      font-size: 0.9rem;
      color: #888;
  }




  .navbar {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      background: rgba(34, 34, 34, 0.6);
      backdrop-filter: blur(5px);
      align-items: center;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
  }

  ul {
      display: flex;
      list-style: none;
  }

  .navbar li a {
      position: relative;
      display: inline-block;
      margin: 20px 30px;
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;
  }


  .navbar li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background: #00bcd4;
      transition: width 0.3s ease;
  }


  .navbar li a:hover::after {
      width: 100%;
  }


  .navbar li a:hover {
      color: #00bcd4;
  }

  .navbar h1 {
      color: #00bcd4;
  }


  .about {

      border-radius: 8px;
      padding: 20px;
      display: flex;
      max-width: 1500px;


  }

  #about {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
  }


  html {
      scroll-behavior: smooth;
  }

  #toggle {
      display: none;
  }

  #hamburger {
      display: none;
      font-size: 30px;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
  }

  #mobile {
      display: none;
  }

  @media (max-width: 768px) {
      .navbar {
          flex-direction: row;
          justify-content: space-around;

      }

      .navbar li a::after {
          display: none;
      }

      #hamburger {
          display: block;
      }

      #nav-links {
          display: none;
          flex-direction: column;
          background-color: #222;
          position: absolute;
          top: 60px;
          right: 0;
          width: 150px;
          height: 350px;
          overflow: hidden;
          border-radius: 5px;
      }

      #nav-links.active {
          display: flex;
      }

      #nav-links li a {
          padding: 1px;
          text-align: center;
      }

      #home {
          gap: 20px;
      }

      #navtxt {
          display: none;
      }

      #mobile {
          display: block;
      }

      header {
          height: 85vh;
          align-items: center;
          text-align: center;
          display: flex;
      }

      .skills {
          grid-template-columns: repeat(2, 1fr);
          display: grid;
          gap: 20px;
      }
       .projects {
          grid-template-columns: repeat(2, 1fr);
          display: grid;
          gap: 20px;
      }

      .skill {
          width: 170px;
          height: 170px;
      }
        .project {
          width: 170px;
          height: 170px;
      }


  }